<footer class="site-footer h-card">
  <div class="wrapper">
    {%- include footer/plugins/sponsor.html -%}
    <br>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      {%- include footer/social/contact.html -%}
    </div>

    {%- if site.disqus.shortname and page.date -%}
      {%- include footer/plugins/disqus_comments.html -%}
    {%- endif -%}

  </div>
  <div class="footer micro-copy">
    <p>Made with ❤️ by a kind geek 👨🏽‍💻</p>
  </div>
</footer>