<div class="share-page">
    Feel free to <a href="https://www.patreon.com/geekingwithmauri" rel="nofollow" target="_blank" title="reach me">
        reach me
    </a> and I'll be more that happy to help you.
    <br>
    If you enjoyed this post, share the love via 
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        Twitter
        <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
        </svg> 
    </a> 
    <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook">
        Facebook
        <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
        </svg> 
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" title="Share on LinkedIn">
        LinkedIn
        <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
        </svg> 
    </a>
</div>