<div class="share-page">
    If you enjoyed this post, please help spread the word. Thanks 🙇🏽‍♂️
    <br><br>
    <ul class="contact-list">
        <li>
            <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                </svg> 
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
                Twitter
            </a> 
        </li>
        <li>
            <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
            </svg> 
            <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook">
                Facebook
            </a>
        </li>
        <li>
            <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg> 
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" title="Share on LinkedIn">
                LinkedIn
            </a>
        </li>
    </ul>
</div>