<div class="footer-col-wrapper">
	<div class="footer-col">
		Casual reader? Every coffee counts 👏🏽 <br> <br>
		<a href="https://www.buymeacoffee.com/maurigeek" target="_blank">
			<img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" class="buy-me-coffe-button">
		</a>
	</div>
	<div class="footer-col"><br></div>
	<div class="footer-col">
		Frequent reader? Help keeping the lights on 👨🏽‍💻 <br> <br>
		<a href="https://www.patreon.com/bePatron?u=49709663" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
	</div>
</div>