.search-container {
  display: flex;
  margin-top: 0.5em;
}

.search-bar {
  width: 90%;
  height: 4em;
  padding: 0 5%;
  background-color: var(--card-color);
  border: none;
  border-bottom: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color: var(--grey-color);
  font-size: $base-font-size;
  font-weight: 400;
  transition: border-bottom 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.search-bar:hover {
  cursor: pointer;
}

.search-bar:focus {
  cursor: default;
  outline: none;
  border-bottom: 3px solid var(--brand-color);
  color: var(--text-color);
  font-weight: 600;
  transition: border-bottom 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -5em;
}

.search-button img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.results-container {
  list-style: none;
  font-weight: 600;
  background-color: var(--card-color);
  margin: 0 0 1.5em 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.search-match {
  padding: 0.5em 3.25em 0.5em 1.75em;
 /* background-color: var(--card-color);
  transition: background-color 300ms ease;*/
}

.search-match:hover { 
  background-color: rgba(255, 255, 255, .05);
  transition: background-color 300ms ease;
}

.search-match:last-child:hover {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}