---
layout: default
---
<div class="home">
  {%- include header/search.html -%}
  <h1 class="page-heading">Latest posts</h1>
  {{ content }}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-card">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h2> {{ post.title | escape }} </h2>
        <article>
          <p class="post-excerpt">{{ post.excerpt | strip_html | escape | truncate_words: 75 }}</p>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </article>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</div>