---
layout: default
---

<div class="home">
  {%- if paginator.page == 1 -%}
    <h1 class="page-heading">Latest posts</h1>
  {%- endif -%}
  
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | escape | truncate_words: 75 }}<a href="{{ post.url | relative_url }}"> read more</a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- include footer/dynamic/pagination.html -%}
</div>
